html {
  font-family: Georgia, serif;
}

body {
  margin: 0;
}

h1, h2, h3 {
  font-family: Verdana, sans-serif;
}

header {
  background-color: #99ddff;
}

nav li {
  display: inline-block;
}

.logo {
  max-width: 200px;
}

.card-img {
  width: 100%;
}

.cards {
  width: 15em;
}

.banner-img {
  width: 100%;
  height: 30em;
  overflow-y: hidden;
}
