html {
  font-family: Georgia, serif;
}

h1, h2, h3, a {
  font-family: Verdana, sans-serif;
}

body {
  background-color: rgb(203, 231, 244);
}

header {
  background-color: #9df;
}

nav li {
  display: inline-block;
  color: black;
  margin: 5px;
  padding: 10px;

}

.btn-light {
  background-color: white;
  border-radius: 10px;
  border: none;
}

.btn-light:hover {
  border: 5px solid rgb(1, 82, 120);
  padding: 2px 8px;
  background-color: white;

}

a {
  text-decoration: none;
  color: black;
}

.cards-section {
  max-width: 1500px;
}

.card-img {
  width: 100%;
}

.card {
  width: 15em;
  background-color: #9df;
  border-radius: 5px;
  text-align: left;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
}

.card:hover {
  border: 5px solid rgb(1, 82, 120);
  padding: 15px;
}

.card-text {
  color: black;
}

.banner {
  background:
    linear-gradient(to top, rgb(0, 0, 0), rgba(0, 0, 0, 0)) no-repeat center bottom / 100% 50%,
    url("../images/laying-cat.jpg") no-repeat center bottom / cover;
  padding-top: 600px;
}

.banner-content {
  padding: 20px;
}

.banner-content, .banner-btn {
  color: white;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
  bottom: 10px;
  left: 0;
}

.about {
  background-color: #9df;
  padding: 50px 0;
  margin-top: 40px;
}

.about-content {
  margin: auto;
}

.animal-card-img {
  width: 100%;
}

.animal-card {
  width: 15em;
  border-radius: 5px;
  text-align: left;
  padding: 30px;
  margin-right: auto;
  margin-left: auto;
}

.animal-card:hover {
  border: 5px solid rgb(1, 82, 120);
  padding: 15px;
}

.animal-card-text {
  color: black;
}

.embed-1by1 {
  width: 15em;
  height: 15em;
  padding-top: 20%;
  margin: auto;
}

fieldset {
  border: none;
}

form {
  max-width: 1000px;
  margin: auto;
}

button {
  background-color: #6e8c62;
  border-color: #6e8c62;
  padding: .5rem 2rem;
}

.apply-btn:hover {
  color: black;
  padding: 6px 35px;
}
