html {
  font-family: Georgia, serif;
}

body {
  margin: 0;
}

h1, h2, h3, a {
  font-family: Verdana, sans-serif;
}

body {
  background-color: rgb(203, 231, 244);
}

header {
  background-color: #99ddff;
}

nav li {
  display: inline-block;
  background-color: white;
  color: black;
  margin-right: 20px;
  padding: 6px;
  border-radius: 10px;

}

nav li:hover {
  border: 5px solid rgb(1, 82, 120);
  padding: 1px 11px 1px 11px;
}

a {
  text-decoration: none;
  color: black;
}


.logo {
  max-width: 200px;
}

.cards-section {
  max-width: 1500px;
  margin: auto;

}

.card-img {
  width: 100%;
  height: 250px;
  overflow: hidden;
}

.card {
  width: 15em;
  background-color: #99ddff;
  border-radius: 5px;
  text-align: left;
  padding: 20px;
  margin: auto;
}

.card:hover {
  border: 5px solid rgb(1, 82, 120);
  padding: 15px;
}

.card-text {
  color: black;

}

.banner-img {
  width: 100%;
  height: 30em;
  overflow-y: hidden;
  transform: scaleX(-1);
}

.banner-content {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 20px;
}

.banner-content, .banner-btn {
  color: white;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
  bottom: 10px;
  left: 0;
}

.about {
  background-color: #99ddff;
  padding: 20px;
  padding-top: 40px;
  margin-top: 40px;
}

.about-content {
  max-width: 1200px;
  margin: auto;
}
